<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
<body>
  <%- include("../partials/nav.ejs") %>
  <header>
    <h1>Edit List</h1>
  </header>

  <%- include("../partials/sub-nav.ejs") %>
  
  <main id="edit-ejs">

    <article class="edit-article">
      <section class="list-details">

        <h3>Add items to <%= list.title %>:</h3>
        <div class="form">
          <form action="/lists/edit/<%= list.id %>" method="post">
            <div>
              <input type="text" name="add" id="add" autofocus required>
            </div>
            <div>
              <button class="add"> + </button>
            </div>
          </form>
        </div>

        <button><a href="/lists/create">New List</a></button>
        <button class="deleteList" data-doc="<%= list._id %>"><a href="">Delete List</a></button>

      </section>

      <section class="list-items">
            
              <% if (list.items.length === 0) { %>
                <p>There are currently no items on this list</p>
              <% } else { %>

                <% list.items.forEach(item => { %>

                  <div class="list-row">
                    <div class="item">
                      <%= item %>
                    </div>
                      
                    <div class="item-buttons">
                      <i class="fas fa-ellipsis-h" data-item="<%= item %>"></i>
                    </div>

                    <div class="item-buttons options hide" data-item="<%= item %>">
                      <div class="trashcan" data-id="<%= list._id %>" data-item="<%= item %>">
                        <i class="far fa-trash-alt"></i>
                      </div>
                    </div>
                  </div>

                <% }) %>
              <% } %>
            
      </section>
    </article>
    
  </main>

  <%- include("../partials/footer.ejs") %>
  <script src="/script.js"></script>
</body>
</html>