<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
<body>
  <%- include("../partials/nav.ejs") %>
  <header>
    <h1>Edit List</h1>
  </header>

  <%- include("../partials/sub-nav.ejs") %>
  
  <main>
    <h2>Add items to list</h2>
    <h3><%= list.title %></h3>
    <button class="delete" data-doc="<%= list._id %>">Delete List</button>
    <form action="/lists/edit/<%= list.id %>" method="post">
      <div>
        <label for="add"><button class="add"> + </button></label>
        <input type="text" name="add" id="add" autofocus>
      </div>
    </form>
    <div class="edit-list">
      <ul>
        <% if (list.items.length === 0) { %>
          <p>There are currently no items in this list</p>
        <% } else { %>
          <% list.items.forEach(item => { %>
            <li><button class="delete-item" data-id="<%= list._id %>" data-doc="<%= item %>">Delete</button><%= item %></li>
            <%  %>
          <% }) %>
        <% } %>
      </ul>
    </div>
  </main>

  <%- include("../partials/footer.ejs") %>
  <script>

  const deleteButton = document.querySelector("button.delete");

  deleteButton.addEventListener("click", () => {
    const endpoint = `/lists/edit/${deleteButton.dataset.doc}`;

    fetch(endpoint, {
      method: "DELETE"
    })
    .then(response => response.json())
    .then(data => window.location.href = data.redirect)
    .catch(err => console.log(err));
  });

  const deleteItems = document.querySelectorAll("button.delete-item");

  deleteItems.forEach(item => {
    item.addEventListener("click", () => {
      console.log(item.dataset.doc);
      console.log(item.dataset.id);
      const endpoint = `/lists/edit-item/${item.dataset.id}`;

      fetch(endpoint, {
        method: "DELETE"
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
  });

  </script>
</body>
</html>