<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
<body>
  <%- include("../partials/nav.ejs") %>
  <header>
    <h1>View Lists</h1>
  </header>

  <%- include("../partials/sub-nav.ejs") %>
  
  <main>
    <div>
      <h2>Click on a list to edit it</h2>
      <ul>
        <% result.forEach(list => { %>
          <% if (list.permissions.owner === user.email && result.length > 0) { %>
            <li><a href="/lists/edit/<%= list.id %>"><%= list.title %></a></li>
          <% } %>
        <% }) %>
      </ul>
    </div>
  </main>

  <%- include("../partials/footer.ejs") %>

</body>
</html>